<h1>Pages#admin</h1>
<p>Find me in app/views/pages/admin.html.erb</p>

<div id="pages_index">
  <div class="container mt-5">

    <% if current_user %>
      <h1 style="margin-top: 100px; margin-bottom: 50px">Welcome, <%= current_user.email %>!</h1>
        
        <!-- navbar for login page-->

        <nav class="navbar navbar-info bg-info fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#"><strong>R4R</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-info" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">R4R offcanvas</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Room
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light">
                    <%= link_to "List rooms", rooms_path, class: "dropdown-item" %>
                    <%= link_to "Create room", new_room_path, class: "dropdown-item" %>
                    <li>
                      <hr class="dropdown-divider">
                    </li>

                    <li><a class="dropdown-item" href="#">Editing Room</a></li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Booking
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light">
                    <%= link_to "List bookings", bookings_path, class: "dropdown-item" %>

                    <%= link_to "Book room", new_booking_path, class: "dropdown-item" %>
                    <li>
                    <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Editing booking</a></li>
                    
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav> <!-- /navbar for login page-->

      <div class="justify-content-center">
        <%= link_to "List rooms", rooms_path, class: "btn btn-outline-primary mx-5" %>
        <%= link_to 'Log out', admin_session_path(current_user), data: { turbo_method: :delete }, class: "btn btn-outline-danger" %><br>
      </div>

    <% else %>

    <!-- welcome page -->
    <section class="landing-page-image">
      <div class="container-fluid">
        <div class="row justify-content-md-center align-items-center">
          <div class="col-12">
            <h2 class="display-1 text-white text-center fw-bold mt-5">
              Welcome to R4R App!
            </h2>
            <p class="lead text-center mb-5 d-flex justify-content-sm-center">
              <span class="col-12 text-white">Find your perfect room, make it your own!</span>
            </p>
            
            <div style="display: flex; gap: 10px;" class="justify-content-sm-center">
              <div class="d-grid gap-2 d-sm-flex">
                <%= link_to 'Login', new_admin_session_path, class: "btn btn-primary mt-5 mb-5" %>
              </div>

              <div>
                <%= link_to "Sign up", admin_session_path, class: "btn btn-success mt-5 mb-5" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> <!-- /welcome page -->

    <% end %>
  </div>
</div>

<!-- footer-->
<footer class="bg-light text-lg-star fixed-bottom" style="background-color: gray; margin-top: 50px">
  <div class="text-center p-3">
    <p id="copyright" class="mb-2">© 2024 Room 4 Rent, all rights reserved.</p>
    <p>Find me on GitHub: <a href="https://github.com/muginga72"><i class="fab fa-github"></i></a></p>
    <p>Contact us: <a href="mailto:lmj.muginga@gmail.com"><i class="fas fa-envelope"></i></a></p>
  </div>
</footer>  <!-- footer-->
