<div class= "container">
  <p style="color: green"><%= notice %></p>

  <h1 id="new_room_detail" class="display-4 text-center text-muted">Room Details</h1>

  <%= render @room %>

  <div style="display: flex">
    <%= link_to "Edit", edit_room_path(@room), class: "btn btn-success" %> |
    <%= link_to "Back", rooms_path, class: "btn btn-secondary" %>

    <%= button_to "Delete", @room, method: :delete, class: "btn btn-danger mx-2" %>
  </div>
</div>
